{% extends 'template.twig' %}

{% block content %}

  <body>
    <div class="listPessoas">
        <h1>Enderecos:</h1>
    </div>

<br><br>

    <ul class="list-group">
        {% for endereco in enderecos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Endereço: {{ endereco.logradouro }}, Estado: {{ endereco.estado }}
            </li>
        {% endfor %}
    </ul>  
    
    <div class="container">
      <div class="InsEndereco">
        <h1>Inserindo endereço</h1>

        <form action="/endereco/create" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="pessoa_id" value="{{ pessoa_id }}">        
          <div class="form-group">
            <label for="inputAddress">Endereço</label>
            <input type="text" value="{{pessoa.logradouro}}" name="logradouro" class="form-control" id="inputAddress" placeholder="Endereço"  required>
            <div class="valid-feedback">
              Validado.
            </div>            
            <div class="invalid-feedback">
              Inválido.
            </div>                          
          </div>          

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Estado</label>
              <select id="inputState" value="{{pessoa.estado}}" name="estado" class="form-control" onchange="buscaCidades(this.value)">
                <option selected>Selecione o Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
              <div class="valid-feedback">
                Validado.
              </div>                          
              <div class="invalid-feedback">
                Inválido.
              </div>                            
            </div>

            <div class="form-group col-md-4">          
              <label for="inputCity">Cidade</label>            
              <select id="cidade" name="cidade" class="form-control" required>
              </select> 
            </div>              


            <div class="form-group col-md-2">
              <label for="inputZip">CEP</label>
              <input type="text" value="{{pessoa.cep}}" name="cep" class="form-control" id="inputZip" required>
              <div class="valid-feedback">
                Validado.
              </div>                                        
              <div class="invalid-feedback">
                Inválido.
              </div>                            
            </div>
          </div>
         
          <button type="submit" class="btn btn-outline-primary" >Gravar endereço</button>          


        </form>        
      </div>
    </div>
{% endblock %}